AMQP_SERVERS=amqp://localhost:5672
# https://us-east-1.console.aws.amazon.com/iam/home#/users
IAM_ACCESS_KEY=abcdefghijklmnopqrst
IAM_SECRET_KEY=abcdefghijklmnopqrst
AWS_REGION=us-east-1
IDENTITY_NAME=bucket-name
TEMPLATE_DIR=./templates
# Requeridos por docker-compose. No usar "guest": RabbitMQ lo restringe a localhost
# y la conexion entre contenedores fallaria. Elegir credenciales no-guest.
RABBITMQ_USER=mailms
RABBITMQ_PASS=changeme